[Unit]
Description=SSH daemon to interact with libvirt domain serial consoles
After=network.target

[Service]
EnvironmentFile=-/etc/default/libvirt-sshd
ExecStart=/usr/bin/libvirt-sshd $LIBVIRT_SSHD_OPTS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=sshd.service
